<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reactive App</title>
</head>
<body>
    <h1>Home</h1>
    <p th:text="${msg}"></p>
    <a th:href="@{/task/new}" >New Task</a>

    <table style="border-style: solid">
        <thead>
            <tr>
                <td>id</td>
                <td>Title</td>
                <td>Options</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${taskList}">
                <td th:text="${task.id}">id</td>
                <td th:text="${task.title}">id</td>
                <td><a th:href="@{/task/{id}(id=${task.id})}">Editar</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>